.skillsBlock {
    height: 100vh;
    background-color: #0de16b;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
}

.title {
    background-color: white;
}